{% extends "reviews/base.html" %}
{% load static %}

{% block extrahead %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" rel="stylesheet" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script>
        $(function () {
            $(".button-collapse").sideNav();
        });
    </script>
    <link rel="stylesheet" href="{% static "reviews/style.css" %}">
{% endblock extrahead %}

{% block content %}
<header>
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="{% url 'reviews-index' %}" class="brand-logo center">Steam 日本語化情報</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/api/reviews/?format=json">API</a></li>
                <li><a href="http://altsteam.sub.jp/japanization/">Manual</a></li>
                <li><a href="{% url 'reviews-sample' %}">Sample</a></li>
                <li><a href="{% url 'reviews-edit' %}">Edit</a></li>
            </ul>
            <ul class="side-nav" id="nav-mobile">
                <li><a href="/api/reviews/?format=json">API</a></li>
                <li><a href="http://altsteam.sub.jp/japanization/">Manual</a></li>
                <li><a href="{% url 'reviews-sample' %}">Sample</a></li>
                <li><a href="{% url 'reviews-edit' %}">Edit</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <div class="row">
            {% for review in object_list %}
            <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://cdn.akamai.steamstatic.com/steam/apps/{{ review.steam_app_id }}/header.jpg" alt="{{ review.name }}" title="{{ review.name }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ review.name }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-action">
                        <a href="{{ review.review_detail_link }}">詳細情報</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ review.name }}<i class="material-icons right">close</i></span>
                        <p>
                            {% if review.localization_status != "" %}
                                [{{ review.localization_status }}]
                            {% elif review.localized_by_developer %}
                                [開発者による対応]
                            {% elif review.localized_by_community %}
                                [コミュニティによる対応]
                            {% else %}
                                [不明]
                            {% endif %}
                        </p>
                        <p>{{ review.review_summary }}</p>
                        <p><a href="{{ review.review_detail_link }}">詳細情報</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="white-text">Steam 日本語化情報グループ 掲載情報 </h5>
                <p class="grey-text text-lighten-4">当ページ(サイト)では <a href="http://store.steampowered.com/">Steam</a> 内の <a href="http://steamcommunity.com/groups/japanization">日本語化情報</a> が保守管理している <a href="/api/reviews/?format=json">データベース(JSON)</a> を利用しています。</p>
                <section>
                    <h6 class="white-text">お願い</h6>
                    <p class="grey-text text-lighten-4">日本語化パッチに関する情報は、多くの皆様からの情報提供と無償ボランティアによる保守運営で成り立っています。配布が中断されている・パッチが適用できない、など掲載されている情報に不備が見つかった場合 <a href="http://steamcommunity.com/groups/japanization">日本語化情報</a> にて積極的に情報を提供して下さいますようよろしくお願いいたします。</p>
                </section>

                <section>
                    <h6 class="white-text">免責</h6>
                    <ul class="grey-text text-lighten-4">
                        <li>各リンク先は外部サイトとなっており 当サイト 並びに <a href="http://steamcommunity.com/groups/japanization">日本語化情報</a> とは一切の関係がありません。閲覧は自己責任でお願いします。</li>
                        <li>日本語化パッチは配布が中断されたり、最新版への適用が出来ない場合があります。またウィルス感染の危険性もあります。ファイルのダウンロード及びパッチ適用は自己責任で行ってください。</li>
                        <li>記載されている会社名・製品名などの名称は各社の商標または登録商標です。</li>
                    </ul>
                </section>

                <section>
                    <h6 class="white-text">デベロッパー・パブリッシャー 各位(Dear Developer / Publisher)</h6>
                    <p class="grey-text text-lighten-4">掲載情報の取り下げや日本語化情報の提供に関するお問い合わせは 日本語化情報 までお願い致します。</p>
                    <p class="grey-text text-lighten-4">For inquiries concerning withdrawal of posted information and provision of Japanese localize information, please contact <a href="http://steamcommunity.com/groups/japanization">Japanization Group in Steam</a>.</p>
                </section>
            </div>
        </div>
    </div>

    <div class="footer-copyright grey darken-4">
        <div class="container">
            <p>当サイトに掲載しているゲームの画像、諸権利などは、Steam・Valveならびにデベロッパー各社が保有しています。
                日本語化に関する情報はSteamの日本語化情報グループに寄せられたものを掲載しています。</p>
        </div>
    </div>
</footer>
{% endblock content %}
